@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');


/* Global*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(220, 220, 220, 0.6);
}

body * {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

a {
    color: darkslategrey;
}

.hidden {
  display: none;
}


/* Forms*/

fieldset {
    border: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    flex-grow: 1;
}

label {
    display: block;
}

input, select {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
}

button, input, select {
    height: 30px;
    padding: 0 10px;
    outline: none;
}


button {
    color: white;
}

button:hover {
    opacity: .6;
}

button.next {
    background-color: rgb(154, 145, 169);
}

button.submit {
    background-color: rgb(20, 156, 111);
}


/* Modal */
.modal {
    display: none;
    /*opacity: 0;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
    padding-top: 40px;
    width: 80%;
}


/*.modal-message {*/
/*    font-size: 18px;*/
/*}*/


.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Nav */

#nav-params {
  height: 20vh;
  display: none;
}


/* Results Section */

#section-results {
  display: none;
}

